In [24]:
import pandas as pd

dictionary = {"name":["ali","veli","zübeyde","ahmet","kubra","can"],
             "age":[12,34,56,78,None,12],
             "note":[123,456,78,87654,None,89]}

dataframe1 = pd.DataFrame(dictionary) 
print(dataframe1)

      name   age     note
0      ali  12.0    123.0
1     veli  34.0    456.0
2  zübeyde  56.0     78.0
3    ahmet  78.0  87654.0
4    kubra   NaN      NaN
5      can  12.0     89.0

In [3]:
head = dataframe1.head() 
print(head)

      name   age     note
0      ali  12.0    123.0
1     veli  34.0    456.0
2  zübeyde  56.0     78.0
3    ahmet  78.0  87654.0
4    kubra   NaN      NaN

In [4]:
tail = dataframe1.tail()
print(tail)

      name   age     note
1     veli  34.0    456.0
2  zübeyde  56.0     78.0
3    ahmet  78.0  87654.0
4    kubra   NaN      NaN
5      can  12.0     89.0

In [5]:
print(dataframe1.columns)

Index(['name', 'age', 'note'], dtype='object')

In [6]:
print(dataframe1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    6 non-null      object
 1   age     5 non-null      float64
 2   note    5 non-null      float64
dtypes: float64(2), object(1)
memory usage: 272.0+ bytes
None

In [7]:
print(dataframe1.dtypes)

name     object
age     float64
note    float64
dtype: object

In [8]:
print(dataframe1.describe())

             age         note
count   5.000000      5.00000
mean   38.400000  17680.00000
std    28.684491  39116.96814
min    12.000000     78.00000
25%    12.000000     89.00000
50%    34.000000    123.00000
75%    56.000000    456.00000
max    78.000000  87654.00000

In [9]:
print(dataframe1["name"]) 
print(dataframe1.loc[:, "age"])                     
dataframe1["yeni_future"] = [1,2,3,4,5,6]
print(dataframe1.loc[:3,"age"]) 
print(dataframe1.loc[:3, "name":"note"])                 
print(dataframe1.loc[::-1])

0        ali
1       veli
2    zübeyde
3      ahmet
4      kubra
5        can
Name: name, dtype: object
0    12.0
1    34.0
2    56.0
3    78.0
4     NaN
5    12.0
Name: age, dtype: float64
0    12.0
1    34.0
2    56.0
3    78.0
Name: age, dtype: float64
      name   age     note
0      ali  12.0    123.0
1     veli  34.0    456.0
2  zübeyde  56.0     78.0
3    ahmet  78.0  87654.0
      name   age     note  yeni_future
5      can  12.0     89.0            6
4    kubra   NaN      NaN            5
3    ahmet  78.0  87654.0            4
2  zübeyde  56.0     78.0            3
1     veli  34.0    456.0            2
0      ali  12.0    123.0            1

In [10]:
print(dataframe1.yeni_future)

0    1
1    2
2    3
3    4
4    5
5    6
Name: yeni_future, dtype: int64

In [11]:
print(dataframe1.loc[:, "age"])

0    12.0
1    34.0
2    56.0
3    78.0
4     NaN
5    12.0
Name: age, dtype: float64

In [12]:
print(dataframe1.loc[:3,"age"])

0    12.0
1    34.0
2    56.0
3    78.0
Name: age, dtype: float64

In [13]:
print(dataframe1.loc[:3, "name":"note"])

      name   age     note
0      ali  12.0    123.0
1     veli  34.0    456.0
2  zübeyde  56.0     78.0
3    ahmet  78.0  87654.0

In [14]:
print(dataframe1.loc[:3, ["name","note"]])

      name     note
0      ali    123.0
1     veli    456.0
2  zübeyde     78.0
3    ahmet  87654.0

In [15]:
print(dataframe1.loc[::-1])

      name   age     note  yeni_future
5      can  12.0     89.0            6
4    kubra   NaN      NaN            5
3    ahmet  78.0  87654.0            4
2  zübeyde  56.0     78.0            3
1     veli  34.0    456.0            2
0      ali  12.0    123.0            1

In [16]:
print(dataframe1.loc[:,:"age"])

      name   age
0      ali  12.0
1     veli  34.0
2  zübeyde  56.0
3    ahmet  78.0
4    kubra   NaN
5      can  12.0

In [17]:
print(dataframe1.iloc[:,[2]])

      note
0    123.0
1    456.0
2     78.0
3  87654.0
4      NaN
5     89.0

In [19]:
filtre1 = dataframe1.age>10                         
dataframe1["bool"]= filtre1
print(dataframe1.loc[:,["age","bool"]])
type(filtre1)

    age   bool
0  12.0   True
1  34.0   True
2  56.0   True
3  78.0   True
4   NaN  False
5  12.0   True

pandas.core.series.Series

In [20]:
filtrelenmis_data= dataframe1[filtre1] 
print(filtrelenmis_data)

      name   age     note  yeni_future  bool
0      ali  12.0    123.0            1  True
1     veli  34.0    456.0            2  True
2  zübeyde  56.0     78.0            3  True
3    ahmet  78.0  87654.0            4  True
5      can  12.0     89.0            6  True

In [21]:
filtre2 = dataframe1.note>100
filtrelenmis_data2 = dataframe1[filtre2&filtre1] #iki filtre birden uyguladık
print(filtrelenmis_data2)

    name   age     note  yeni_future  bool
0    ali  12.0    123.0            1  True
1   veli  34.0    456.0            2  True
3  ahmet  78.0  87654.0            4  True

In [22]:
dataframe1[dataframe1.age>20]

      name   age     note  yeni_future  bool
1     veli  34.0    456.0            2  True
2  zübeyde  56.0     78.0            3  True
3    ahmet  78.0  87654.0            4  True

In [26]:
import numpy as np
ortalama = dataframe1.note.mean() 
print(ortalama)
ortlama_np= np.mean(dataframe1.note) 
print(ortlama_np)

17680.0
17680.0

In [27]:
dataframe1.dropna(inplace=True)  
dataframe1

      name   age     note
0      ali  12.0    123.0
1     veli  34.0    456.0
2  zübeyde  56.0     78.0
3    ahmet  78.0  87654.0
5      can  12.0     89.0

In [28]:
print(dataframe1.note.mean())
dataframe1["ortalama"]= ["ortalamanın altında" if dataframe1.note.mean()>each else "ortalamanın üstünde" for each in dataframe1.note]
dataframe1

17680.0

      name   age     note             ortalama
0      ali  12.0    123.0  ortalamanın altında
1     veli  34.0    456.0  ortalamanın altında
2  zübeyde  56.0     78.0  ortalamanın altında
3    ahmet  78.0  87654.0  ortalamanın üstünde
5      can  12.0     89.0  ortalamanın altında

In [29]:
dataframe1.columns = [each.upper() for each in dataframe1.columns]
dataframe1.columns

Index(['NAME', 'AGE', 'NOTE', 'ORTALAMA'], dtype='object')

In [30]:
dataframe1["yeni2_future"]=[1,1,1,1,1]
dataframe1.columns = [each.split('_')[0]+" "+each.split('_')[1] if len(each.split('_'))>1 else each for each in dataframe1.columns]
dataframe1

      NAME   AGE     NOTE             ORTALAMA  yeni2 future
0      ali  12.0    123.0  ortalamanın altında             1
1     veli  34.0    456.0  ortalamanın altında             1
2  zübeyde  56.0     78.0  ortalamanın altında             1
3    ahmet  78.0  87654.0  ortalamanın üstünde             1
5      can  12.0     89.0  ortalamanın altında             1

In [31]:
dataframe1.columns = [ each.split(" ")[0]+"_"+each.split(" ")[1] if len(each.split(" "))>1 else each for each in dataframe1.columns]
dataframe1

      NAME   AGE     NOTE             ORTALAMA  yeni2_future
0      ali  12.0    123.0  ortalamanın altında             1
1     veli  34.0    456.0  ortalamanın altında             1
2  zübeyde  56.0     78.0  ortalamanın altında             1
3    ahmet  78.0  87654.0  ortalamanın üstünde             1
5      can  12.0     89.0  ortalamanın altında             1

In [33]:
data1 = dataframe1.head()     
data2 = dataframe1.tail()
data_concat = pd.concat([data1,data2],axis=0)
data_concat

      NAME   AGE     NOTE             ORTALAMA  yeni2_future
0      ali  12.0    123.0  ortalamanın altında             1
1     veli  34.0    456.0  ortalamanın altında             1
2  zübeyde  56.0     78.0  ortalamanın altında             1
3    ahmet  78.0  87654.0  ortalamanın üstünde             1
5      can  12.0     89.0  ortalamanın altında             1
0      ali  12.0    123.0  ortalamanın altında             1
1     veli  34.0    456.0  ortalamanın altında             1
2  zübeyde  56.0     78.0  ortalamanın altında             1
3    ahmet  78.0  87654.0  ortalamanın üstünde             1
5      can  12.0     89.0  ortalamanın altında             1

In [34]:
data_contact2 = pd.concat([data1,data2],axis=1) 
data_contact2

,NAME,AGE,NOTE,ORTALAMA,yeni2_future,NAME,AGE,NOTE,ORTALAMA,yeni2_future
0,ali,12.0,123.0,ortalamanın altında,1,ali,12.0,123.0,ortalamanın altında,1
1,veli,34.0,456.0,ortalamanın altında,1,veli,34.0,456.0,ortalamanın altında,1
2,zübeyde,56.0,78.0,ortalamanın altında,1,zübeyde,56.0,78.0,ortalamanın altında,1
3,ahmet,78.0,87654.0,ortalamanın üstünde,1,ahmet,78.0,87654.0,ortalamanın üstünde,1
5,can,12.0,89.0,ortalamanın altında,1,can,12.0,89.0,ortalamanın altında,1

In [35]:
dataframe1["buyuk_yas"] = [each*2 for each in dataframe1.AGE]
dataframe1

      NAME   AGE     NOTE             ORTALAMA  yeni2_future  buyuk_yas
0      ali  12.0    123.0  ortalamanın altında             1       24.0
1     veli  34.0    456.0  ortalamanın altında             1       68.0
2  zübeyde  56.0     78.0  ortalamanın altında             1      112.0
3    ahmet  78.0  87654.0  ortalamanın üstünde             1      156.0
5      can  12.0     89.0  ortalamanın altında             1       24.0

In [36]:
def mlt(yas):
    return yas*2
dataframe1["apply_metodu"] = dataframe1.AGE.apply(mlt)
dataframe1

,NAME,AGE,NOTE,ORTALAMA,yeni2_future,buyuk_yas,apply_metodu
0,ali,12.0,123.0,ortalamanın altında,1,24.0,24.0
1,veli,34.0,456.0,ortalamanın altında,1,68.0,68.0
2,zübeyde,56.0,78.0,ortalamanın altında,1,112.0,112.0
3,ahmet,78.0,87654.0,ortalamanın üstünde,1,156.0,156.0
5,can,12.0,89.0,ortalamanın altında,1,24.0,24.0