**Fundmental of paython**

In [2]:
#creating a function and calling to excute 
def grade(midterm, project, final):
    return midterm * 0.4 + project * 0.2 + final * 0.4
grade(60, 75, 90)

75.0

In [9]:
#creating and excuting a list and its methods like sorting etc
list1 = ["Mango", "Apple", "Blackberry", "Orange", "Banana"]
#printing the list
print(list1)

#slicing the list
#it prints all the list except last one
print(list1[:-1])
# it prints  all except first 2 objects
print(list1[2:])
# it prints 1 up to 4 but 4 is excluded
print(list1[1:4])

#loop the list using for
for x in list1:
    print(x)
# looping with the index of the list
for index, x in enumerate(list1):
    print(x)

['Mango', 'Apple', 'Blackberry', 'Orange', 'Banana']
['Mango', 'Apple', 'Blackberry', 'Orange']
['Blackberry', 'Orange', 'Banana']
['Apple', 'Blackberry', 'Orange']
Mango
Apple
Blackberry
Orange
Banana
Mango
Apple
Blackberry
Orange
Banana

In [16]:
# creating and executing the tuple 

tuple1 = ("Mango", "Banana", "Apple", "Orange")
print(tuple1)

#checking if an object is in the tuple or not
if "Banana" in tuple1:
    print("Yes Banana is in the tuple")
else:
    print("No Banana is not the tuple")

#know the length of the tuple
print(len(tuple1))

('Mango', 'Banana', 'Apple', 'Orange')
Yes Banana is in the tuple
4

In [32]:
#creating a dictionary and excuting its methods
student = {"Name" : "ilyas", "Email" : "ilyaasgaraad@gmail.com", "Age" : 40}
print(student)

#creating the dictionary in other way
student2 = dict(Name = "Ali", Email = "AliMuse@gmail.com", Age = 30)
print(student2)

#print just the key or the value of the dictionary

print(student.keys())
print(student2.values())

#printing just one value in the dictionary
x = student["Email"]
print(x)

#changing the value of the dictionary
student2["Name"] = "Ali Muse Yusuf"
print(student2)

#nested dictionary
students = {
"student1" : {
            "Name" : "Ahmed",
            "Email" : "Ahmed@gmail.com",
             "Age" : 35
            },
"student3": {
            "Name" : "Yasin",
            "Email" : "Yasin@gmail.com",
            "Age" : 43
            },
"student4" : {
            "Name" : "Faduma",
            "Email" : "Faduma@gmail.com",
            "Age" : 18
           }
}
print(students)

{'Name': 'ilyas', 'Email': 'ilyaasgaraad@gmail.com', 'Age': 40}
{'Name': 'Ali', 'Email': 'AliMuse@gmail.com', 'Age': 30}
dict_keys(['Name', 'Email', 'Age'])
dict_values(['Ali', 'AliMuse@gmail.com', 30])
ilyaasgaraad@gmail.com
{'Name': 'Ali Muse Yusuf', 'Email': 'AliMuse@gmail.com', 'Age': 30}
{'student1': {'Name': 'Ahmed', 'Email': 'Ahmed@gmail.com', 'Age': 35}, 'student3': {'Name': 'Yasin', 'Email': 'Yasin@gmail.com', 'Age': 43}, 'student4': {'Name': 'Faduma', 'Email': 'Faduma@gmail.com', 'Age': 18}}

In [55]:
# creatin classes
class person:
    x = "mohamed"
p1 = person()
print(p1.x)

# init function in  a class
class person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
p1 = person("ilyas", 40)
print(p1.name, p1.age)

mohamed
ilyas 40

In [4]:
#while loop
i =  0;
while i < 10:
    print(i)
    i += 1
# break and countinue
i =  30;
while i < 40:
    print(i)
    i += 1
    if i == 35:
        continue
    if i == 37:
        break

0
1
2
3
4
5
6
7
8
9
30
31
32
33
34
35
36

In [13]:
#creating and executing sets, sets has no order

set1 = {"Banana", "Apple", "Mango", "Grape", "Blackberry", "Grape"}
#when we are printing the duplicate objects will gone
print(set1)

#adding new object to the set
set1.add("Orange")
print(set1)

#removing some objects from the set
set1.remove("Banana")
print(set1)

#other way to remove an object from the set, 
#discard it doesn't make alert if you try to remove an object that is not in the set

set1.discard("Armut")
print(set1)

#concatenating  two sets
set2 = {"Patates", "Egg", "bread"}

set3 = set1.union(set2)
print(set3)

{'Grape', 'Blackberry', 'Mango', 'Banana', 'Apple'}
{'Grape', 'Blackberry', 'Orange', 'Mango', 'Banana', 'Apple'}
{'Grape', 'Blackberry', 'Orange', 'Mango', 'Apple'}
{'Grape', 'Blackberry', 'Orange', 'Mango', 'Apple'}
{'Apple', 'Grape', 'Orange', 'Patates', 'Egg', 'Mango', 'bread', 'Blackberry'}

In [15]:
#simple calculator using if else statements

first_number = float(input("Enter the first number :"))
operator = input("Chose the operator :")
second_number = float(input("Enter the second number :"))

if operator == "+":
    print(first_number + second_number)
elif operator == "-":
    print(first_number - second_number)
elif operator == "*":
    print(first_number * second_number)
elif operator == "/":
    print(first_number / second_number)
elif operator == "%":
    print(first_number % second_number)
else:
    print("Invalid operator")

Enter the first number : 6
Chose the operator : /
Enter the second number : 2

3.0